{% extends "page.jinja" %}

{% import 'macro/display_functions.jinja' as display %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if object_list %}
        <table class="table table">
          <thead>
          <tr>
            {% for name, value in gen_object_short(object_list[0]) %}
              <th>{{ name }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr>
              {% for name, value in gen_object_short(object) %}
                {% if loop.index == 1 and detail_view %}
                  <td><a href="{{ url(detail_view, pk=object.pk) }}">{{ value }}</a></td>
                {% else %}
                  <td>{{ value }}</td>
                {% endif %}
              {% endfor %}
              <td><a class="btn btn-default" href="{{ url('vehicles-edit', pk=object.pk) }}">{{ _('Edit') }}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {{ display.pagination(page_obj) }}
      {% else %}
        <h3>{% trans %}No {{ plural_name }} found{% endtrans %}</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ super() }}
{% endblock %}