body {
  padding-top: 50px;
  background-color: #ececec;
}

a {
  color: #1a5e53;
  text-decoration: none;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-custom {
  z-index: 100;
  background-color: #175B51;
  min-height: 65px;
}

.navbar-custom .navbar-nav.navbar-right:last-child {
  margin-right: 15px;
}

.navbar-custom .navbar-brand {
  color: #ddd;
}

.navbar-custom a {
  color: #ddd;
  text-decoration: none;
}

.navbar-custom .user-photo-button {
  padding: 15px;
  background-color: #175B51 !important;
}

.navbar-custom .user-photo-button img {
  width: 32px;
  height: 32px;
  border-radius: 14px;
}

.navbar-custom .user-photo-button img:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}

.navbar-custom .agency-title {
  color: #B3D2E0;
  font-size: 20px;
  display: block;
}

.navbar-custom .agency-title.hide-std {
  padding: 14px 15px;
  font-size: 18px;
}

.navbar-custom .nav > li > a:hover, .navbar-custom .nav > li > a:focus {
  text-decoration: none;
  background-color: #015c86;
}

.navbar-custom .nav .open > a, .nav .open > a:hover, .navbar-custom .nav .open > a:focus {
  background-color: #015479;
}

.navbar-nav > li > a, .navbar-nav .notice {
  padding-top: 22px;
  padding-bottom: 22px;
}

.navbar-custom .dropdown-header.user-name {
  font-weight: 700;
  color: black;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: white;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: auto;
}

.notlink {
  padding: 18px 15px;
}

.sidebar {
  left: 0;
  display: block;
  padding: 5px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 5px;
}

.sidebar.collapsing {
  overflow-y: hidden;
}

.sidebar.collapse.in, .sidebar.collapsing {
  box-shadow: 0 4px 10px #666;
  display: block;
  background-color: #016797;
  height: auto;
  position: fixed;
  top: 38px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo, .navbar-collapse {
  display: none;
}

@media (min-width: 768px) {
  .sidebar.collapse {
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px 0 0;
    height: auto;
    bottom: 0;
  }

  .logo {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    display: block;
    margin-bottom: 4px;
    min-height: 60px;
    width: 94%;
    overflow: hidden;
    margin-left: 8px;
  }

  .logo img {
    margin: auto;
  }

  .tc-logo {
    background-color: #016997;
    border: none;
  }

  .hide-std {
    display: none !important;
  }

  .navbar-collapse {
    display: block;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.sidebar .panel {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.sidebar .menu-item {
  display: block;
  width: 100%;
}

.sidebar .menu-item a {
  padding: 3px 10px;
  color: #484848;
  width: 100%;
  display: block;
  font-size: 14px;
}

.sidebar .inside .menu-item,
.sidebar .menu-item.active > a,
.sidebar .menu-item.active > a:hover,
.sidebar .menu-item.active > a:focus {
  border-left: 8px solid #ccc;
}

.sidebar .inside {
  background-color: transparent;
}

.sidebar .menu-item.depth_2 a {
  padding-left: 25px;
}

.sidebar .menu-item.depth_3 a {
  padding-left: 45px;
}

.sidebar .menu-item.depth_4 a {
  padding-left: 60px;
}

.sidebar .menu-item.depth_5 a {
  padding-left: 75px;
}

.sidebar .menu-item > a:hover,
.sidebar .menu-item > a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar .menu-item.active > a,
.sidebar .menu-item.active > a:hover,
.sidebar .menu-item.active > a:focus {
  color: black;
  font-weight: 500;
}

.main {
  margin-top: 25px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .navbar-custom {
    min-height: 40px;
  }

  .sidebar.collapse, .sidebar .panel {
    background-color: #016797;
  }

  .sidebar .menu-item {
    display: block;
    width: 100%;
  }

  .sidebar .menu-item a {
    padding: 5px 10px;
  }

  .sidebar .menu-item a {
    color: #ddd;
  }

  .sidebar .inside .menu-item,
  .sidebar .menu-item.active > a,
  .sidebar .menu-item.active > a:hover,
  .sidebar .menu-item.active > a:focus {
    border-left: 5px solid #2abbfe;
    background-color: #015c86;
  }

  .sidebar .inside {
    border-bottom: 1px solid #017db7;
  }

  .sidebar .menu-item > a:hover,
  .sidebar .menu-item > a:focus {
    color: #fff;
    background-color: #015071;
  }

  .sidebar .menu-item.active > a,
  .sidebar .menu-item.active > a:hover,
  .sidebar .menu-item.active > a:focus {
    color: #fff;
    background-color: #015479;
  }

  .main {
    margin-top: 15px;
  }
}

.sidebar .drop-arrow {
  /*float: right;*/
  font-size: 12px;
  margin-top: 3px;
  opacity: 0.8;
}

.sidebar .drop-arrow:before {
  content: "\e080";
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .inside > div > a .drop-arrow:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main > .btn-toolbar {
  margin-bottom: 10px;
}

.main > .btn-toolbar .btn {
  border-radius: 0;
  padding: 8px 12px;
  border: 0;
  border-left: 1px solid #bbb;
}

.main > .btn-toolbar .btn-group > .btn:first-child {
  border: 0;
}

.main > .btn-toolbar .btn-group {
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}

.main .btn-toolbar > .btn-group {
  margin: 3px 0 3px 5px;
}

.block {
  background-color: white;
  -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
}

.alert {
  border: 1px solid;
  border-radius: 2px;
}

.content:before, .content:after {
  display: table;
  content: " ";
}

.content.pad {
  padding: 16px 8px;
}

footer {
  margin-top: 25px;
}

footer a {
  color: #666;
}

footer a:hover, footer a:focus {
  color: #666;
  text-decoration: none;
}

.concise-role {
  padding: 12px;
}

.concise-role .inline {
  display: inline-block;
  color: #484848;
  text-decoration: none !important;
}

.concise-role .photo.mini {
  width: 32px;
  height: 32px;
  float: left;
}

.concise-role .first-group {
  width: 30%;
}

.concise-role .name {
  font-weight: 700;
  margin: 5px 5px 5px 10px;
}

.concise-role .soft {
  color: #666;
}

.concise-role .glyphicon {
  color: #ccc;
  margin-left: 4px;
}

.photo.thumb {
  border: 1px solid #ddd;
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
}

.panel-custom {
  border-radius: 2px;
  border: 1px solid #ddd;
  margin: 5px 0 10px;
}

.panel-custom > .panel-heading {
  color: #333;
  border-color: #ddd;
}

.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel-custom > .panel-heading .badge {
  color: #f4f4f4 background-color : #333;
}

.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-custom .panel-title {
  font-weight: 400;
}

.panel-custom .panel-title a {
  color: #175B51;
  text-decoration: none !important;
}

.img-descr {
  margin-left: 80px;
}

.descr {
  word-wrap: break-word;
}

.detail-item {
  min-height: 20px;
}

.detail-short label {
  width: 35%;
  max-width: 200px;
}

.detail-item label {
  float: left;
  color: #9C9C9C;
  font-weight: normal;
  margin-right: 8px;
  margin-bottom: 0px;
}

.detail-item .detail-info {
  margin-left: 155px;
}

@media (max-width: 768px) {
  .detail-item .detail-info {
    margin-left: 100px;
  }
}

.detail-item .one-line {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.detail-long .detail-item {
  border-bottom: 1px solid #ddd;
  /* border-top: 2px solid #ddd; */
  margin: 10px -5px;
  padding: 0;
}

.item-extra {
  margin: 10px 0;
}

.item-extra .list-group-item {
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px 15px;
  color: #676a6c;
}

.item-extra .list-group-item:first-child {
  border-top: none;
}

.item-extra .panel-body {
  padding: 0;
}

.item-extra .aside {
  margin: 5px 10px;
  font-size: 90%;
  color: #888;
}

.item-extra .panel-custom {
  margin-bottom: 15px;
}

.item-extra .list-group {
  margin-bottom: -1px;
}

.pull-right {
  float: right;
}

.smaller {
  font-size: 90%;
}

.hlink {
  font-size: 11pt;
  margin-left: 3px;
  visibility: hidden;
  display: inline-block;
}

h1:hover .hlink, h2:hover .hlink, h3:hover .hlink, h4:hover .hlink, h5:hover .hlink, h6:hover .hlink {
  visibility: visible;
  text-decoration: none;
}

.no-dec {
  text-decoration: none !important;
}

.pagelink:before {
  display: block;
  content: " ";
  margin-top: -88px;
  height: 88px;
  visibility: hidden;
}

.panel-title {
  display: inline-block;
}

.subtle-link {
  color: #99f;
}

#delete-form input {
  width: 100%;
  border: none;
  background: none;
  padding-right: 84px;
}

#delete-form input:hover {
  background: #f5f5f5;
}

.delete-form {
  display: inline;
}

.delete-form button {
  border: none;
  background: none;
}

.pad-top {
  margin-top: 10px;
}

.big-pad-top {
  margin-top: 30px;
}

.tight-para p {
  margin: 2px 0px;
}

.bold {
  font-weight: 700;
}

.navbar-form {
  margin-top: 13px;
}

.panel-heading.accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  float: right;
  position: relative;
  color: grey;
}

.panel-heading.accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
}

.alert-normal {
  color: #333333;
  background-color: #F4F4F4;
  border-color: #DDD;
}

.alert i {
  float: left;
  font-size: 26px;
  margin-right: 16px;
  margin-left: 16px;
}

.alert.safe p {
  margin-top: 0;
}

.checked_label {
  background: #ddd;
}

.checked_label:before {
  content: '✔';
}

.details-label {
  margin: 5px 0 15px;
}

.details-label .label {
  padding: 5px 10px;
  font-size: 100%;
  font-weight: 500;
  margin: 2px;
}

#id_repeat_on li {
  display: inline-block;
  list-style-type: none;
  width: 150px;
}

#tc-modal-body .radio {
  display: inline-block;
}

.multiple-checkbox ul {
  padding-left: 10px;
}

.multiple-checkbox li {
  list-style-type: none;
}

.appointment-deleted {
  opacity: 0.5;
}

#waiting {
  width: 100%;
  color: #666;
}

.glyphicon-refresh-animate {
  font-size: 40pt;
  margin-top: 80px;
  -animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
  -webkit-animation: spin2 1.5s infinite linear;
  -moz-animation: spin3 1.5s infinite linear;
  margin-bottom: 20px;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin3 {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.popover {
  padding: 0;
  background-color: #f7f7f7;
}

.popover-content {
  background-color: #ffffff;
}

.popover-header {
  padding: 8px 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.popover-title {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.popover-footer {
  padding: 4px;
  background-color: #f7f7f7;
  text-align: right;
  border-top: 1px solid #ebebeb;
  border-radius: 0 0 5px 5px;
}

.popover-footer a.btn {
  margin-bottom: 2px;
  margin-left: 4px;
}

.popover.top > .arrow:after, .has-footer.popover.top > .arrow:after {
  border-top-color: #f7f7f7;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 500px;
  color: #CCC;
  background: #EFEFEF;
}

span.loading {
  display: block;
  text-align: center;
  font: 300 italic 72px/400px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

.height-css, #maprow {
  height: 100%;
}

.leaflet-google-layer {
  z-index: 0 !important;
}

.leaflet-map-pane {
  z-index: 100;
}
