{% extends "base.jinja" %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ "css/messages.css"|static }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="message-area">
    <div class="alert alert-danger" role="alert" align="center">
        <h3>403 - Permission Denied</h3>
    </div>
  </div>
</div>
{% endblock %}