{% extends "base.jinja" %}

{% block extra_css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="{{ "css/theme.css"|static }}{{ '?' if debug }}">
  <link rel="stylesheet" href="{{ "css/page_styles.css"|static }}{{ '?' if debug }}">
  <link rel="stylesheet" href="{{ 'css/Control.FullScreen.css'|static }}"/>
{% endblock %}

{% block extra_js %}
  <script src="{{ "js/theme.js"|static }}{{ '?' if debug }}"></script>
{% endblock %}

{% macro menu(menu_items, menu_id) %}
  <div id="{{ menu_id }}">
    {% for item in menu_items %}
      {% if item.submenu %}
        <div class="panel{% if item.subactive %} inside{% endif %}">
          <div class="menu-item {{ item.class }}{% if item.active %} active{% endif %}">
            <a data-toggle="collapse" data-parent="#{{ menu_id }}" href="{{ item.url }}">
              <span class="glyphicon drop-arrow"></span>
              {{ item.name }}
            </a>
          </div>
          <div id="{{ item.menu_id }}" class="panel-collapse collapse {{ 'in' if item.subactive }} sub-menu">
            {{ menu(item.submenu, item.menu_id) }}
          </div>
        </div>
      {% else %}
        <div class="menu-item basic {{ item.class }}{{ ' active' if item.active }}"{% if item.target %}
             target="#{{ item.target }}"{% endif %}>
          <a href="{{ item.url }}">{{ item.name }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_link(item, default_classes="") %}
  {% if item.rurl or item.url %}
    <a href="{{ item.url if item.url else obj_url(item.rurl) }}" class="{{ default_classes }} {{ item.classes }}"
       msg="{{ item.msg }}" data-method="{{ item.method if item.method else 'get' }}"
            {% if item.modal %} data-toggle="modal" data-target="#{{ item.target_modal }}"{% endif %}
            {% if item.data %}{% for k,v in item.data.items() %} data-{{ k }}="{{ v }}"{% endfor %}{% endif %}>
      {{ item.name }}
    </a>
  {% endif %}
{% endmacro %}

{% macro buttons(button_menu) %}
  {% if button_menu|is_iter and button_menu|length > 0 %}
    {% if button_menu[0] is not mapping %}
      {% for button in button_menu %}
        {{ buttons(button) }}
      {% endfor %}
    {% else %}
      <div class="btn-group">
        {% for button in button_menu %}
          {% if button is not mapping %}
            menu
          {% elif button.dropdown %}
            {% if button_menu|length > 1 %}
              <div class="btn-group">{% endif %}
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ button.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for item in button.dropdown %}
              <li>
                {{ show_link(item) }}
              </li>
            {% endfor %}
          </ul>
          {% if button_menu|length > 1 %}</div>{% endif %}
          {% else %}
            {% if button.css_class %}
              {{ show_link(button, "btn btn-default " + button.css_class) }}
            {% else %}
              {{ show_link(button, "btn btn-default") }}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro user_mobile_menu() %}
  <div class="menu-item hide-std">
    <div class="panel">
      <div class="menu-item depth_1">
        <a data-toggle="collapse" data-parent="#menu_accordion" href="#user_details">
          {{ user.get_full_name() }}
          <span class="glyphicon drop-arrow"></span>
        </a>
      </div>
      <div id="user_details" class="panel-collapse collapse sub-menu">
        <div class="panel">
          <div class="menu-item depth_2">
            <a data-toggle="collapse" data-parent="#user_details" href="#set_active_role">
              {{ _('Select activeRole') }}
              <span class="glyphicon drop-arrow"></span>
            </a>
          </div>
        </div>
        {% if branches %}
          <div class="panel">
            <div class="menu-item depth_2">
              <a data-toggle="collapse" data-parent="#user_details" href="#set_active_branch">
                {{ _('Select Branch') }}
                <span class="glyphicon drop-arrow"></span>
              </a>
            </div>
            <div id="set_active_branch" class="panel-collapse collapse sub-menu">
              <div id="set_active_branch">
                {% for branch in branches %}
                  <div class="menu-item basic depth_3{% if branch == user.branch %} active{% endif %}">
                    <a href="{{ url('auth:set-branch', branch_id=branch.id) }}">{{ branch.name }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        <div class="menu-item basic depth_2">
          <a href="{{ url('auth:account-profile') }}">{{ _('Edit Account') }}</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% block body %}
  <div class="navbar navbar-fixed-top navbar-custom" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse">
      <form class="navbar-form navbar-left" role="search" method="get"
            action="{{ url('search-universal') }}{% if search_section %}?section={{ search_section }}{% endif %}">
        <div class="input-group">
          <input type="text" class="form-control" name="search"
                 placeholder={{ _("Search") }} value="{{ request.GET.search }}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
      </form>
      <ul class="nav navbar-nav">
        {% if branches %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle agency-title" data-toggle="dropdown">{{ user.branch }}</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">{{ _('Set Active Branch') }}</li>
              {% for branch in branches %}
                <li{% if branch == user.branch %} class="active"{% endif %}>
                  <a href="{{ url('auth:set-branch', branch_id=branch.id) }}">{{ branch.name }}</a>
                </li>
              {% endfor %}
              <li class="divider"></li>
              <li><a href="{{ url('setup:branch-edit') }}">{{ _('Edit current Branch') }}</a></li>
            </ul>
          </li>
        {% else %}
          <li><span class="notlink agency-title">{{ agency_branch }}</span></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_admin %}
          <li><a href="{{ url('admin:index') }}">{{ _('Administration Page') }}</a></li>
        {% endif %}
        <li class="dropdown">
          <a class="user-photo-button" href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.photo %}
              <img src="{{ user.photo|thumbnail_url('small') }}"/>
            {% else %}
              <img src="{{ 'default_avatar.png'|static }}"/>
            {% endif %}
          </a>
          <script>
            $(function () {
              $('.user-photo-button').tooltip()
            });
          </script>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header user-name">
              {{ user.get_full_name() }}
            </li>
            <li class="divider"></li>
            <li><a href="{{ url('auth:logout') }}">{{ _('Logout') }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 col-xs-12 sidebar collapse">
        <a class="logo" href="/">
          <img src="{{ "app_logo.png"|static }}"/>
        </a>
        {{ user_mobile_menu() }}
        {{ menu(main_menu, "menu_accordion") }}
        <div class="menu-item hide-std">
          <a href="{{ url('auth:logout') }}">{{ _('Logout') }}</a>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3 {{ 'col-md-10' if full_width else 'col-md-8' }} col-md-offset-2 main">
        <div>
          {% for message in messages %}
            {% if 'safe' in message.tags %}
              <div class="alert alert-info safe">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">{{ _("Close") }}</span>
                </button>
                {{ message|safe }}
              </div>
            {% else %}
              <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags or 'default' }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">{{ _("Close") }}</span>
                </button>
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
          {% if not user.is_active %}
            <div class="alert alert-warning">{{ _('Your account it not active until you confirm your email address') }}</div>
          {% endif %}

          <div class="row">
            <div class="col-sm-12">
              <div class="btn-toolbar pull-right" role="toolbar">
                {{ buttons(button_menu) }}
              </div>
            </div>
          </div>


          {% if tabs_menu %}
            <div class="col-md-12">
              <div class="col-ms-10">
                <ul id="AppTabs" role="tablist" class="">
                  {% for tab in tabs_menu %}
                    <li class="{{'active' if loop.first}}" role="presentation">
                      <a href="{{ tab.rurl }}" role="tab" data-toggle="tab">
                        {{ tab.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}

          <div class="content{{ ' block' if not no_outer_block }}{{ ' pad' if not no_page_pad }}{{ ' tab-content' if tabs_menu }}">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <h1>{% block module_icon %}{% endblock %} {{ title }}</h1>
                </div>
              </div>
            </div>
            {% block content %}{% endblock %}
          </div>
          <footer align="center">
            <a href="http://www.gydsystems.com">&copy; 2015 Sistema de Distribución</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <form id="button-form" method="POST">{% csrf_token %}</form>
  {% block extra_modals %}{% endblock %}
{% endblock %}